<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExerciseJournal">
	<sql id="column">
		e_journal_id, m_calendar_id, exercise_id, exercise_order, exercise_set, exercise_count, exercise_weight
	</sql>
	
	
	<select id="getExerJournalList" resultType="exerciseJournalDto" parameterType="int">
		SELECT ej.e_journal_id, ej.m_calendar_id, ej.exercise_id, ej.exercise_order,
			 ej.exercise_set, ej.exercise_count, ej.exercise_weight,  el.exercise_name, el.exercise_image
		FROM exercisejournal ej 
		JOIN exerciselist el ON ej.exercise_id=el.exercise_id
		WHERE ej.m_calendar_id=#{m_calendar_id}
		
				
	</select>
	<select id="getExerOne" resultType="exerciseJournalDto" parameterType="int">
		SELECT ej.e_journal_id, ej.m_calendar_id, ej.exercise_id, ej.exercise_order, ej.exercise_set, ej.exercise_count, ej.exercise_weight, el.exercise_name
		FROM exercisejournal ej, exerciselist el
		WHERE ej.exercise_id=el.exercise_id
		AND e_journal_id=#{e_journal_id}
	</select>
	
	<insert id="insert" parameterType="exerciseJournalDto">
		INSERT INTO exercisejournal
		(e_journal_id, m_calendar_id, exercise_id, exercise_order, exercise_set, exercise_count, exercise_weight)
		VALUES(e_journal_id_seq.NEXTVAL ,#{m_calendar_id}, #{exercise_id}, #{exercise_order}, #{exercise_set}, #{exercise_count}, #{exercise_weight})
		
	</insert>
	<update id="update" parameterType="exerciseJournalDto">
		UPDATE exercisejournal
		SET m_calendar_id=#{m_calendar_id}, exercise_id=#{exercise_id}, exercise_order=#{exercise_order}, 
		exercise_set=#{exercise_set}, exercise_count=#{exercise_count}, exercise_weight=#{exercise_weight} 
		WHERE e_journal_id=#{e_journal_id}
	</update>
	<delete id="delete" parameterType="exerciseJournalDto">
		DELETE FROM exercisejournal
		WHERE exercise_id=#{exercise_id}
		AND e_journal_id=#{e_journal_id}
	</delete>
	<delete id="deleteAll" parameterType="int">
		DELETE FROM exercisejournal
		WHERE m_calendar_id=#{m_calendar_id}
	</delete>

</mapper>