/* src/pages/Calendar.css */

/* bootstrap 밑줄 없애기 */
.fc-col-header-cell-cushion, .fc-daygrid-day-number {
    text-decoration: none;
    }
    
    .fc{
    margin: auto;
    display: flex;
    
    }
    
    .fc-day a {
    color: black;
    opacity: 0.9;
    }
    
    /* 일요일 날짜: 빨간색 */
    .fc-day-sun a {
    color: red;
    }
    
    /* 토요일 날짜: 파란색 */
    .fc-day-sat a {
    color: blue;
    }
    
    /* 일정표 툴 바  */
    .fc .fc-toolbar.fc-header-toolbar {
    margin: 0;
    padding: 0 10px;
    /*background-color: #76c3c5;*/
    background-color: #242323;
    opacity: 70%;
    height: 80px;
    font-size: 13px;
    line-height: 20px;
    color: white;
    border-radius: 10px 10px 0px 0px;
  
    }
    
    /* 툴바의 버튼 */
    .fc .fc-toolbar-chunk .fc-button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    }
    
    /* 툴바 사용 불가 버튼 스타일 */
    .fc .fc-toolbar-chunk .fc-button:disabled {
    color: #e8e8e8;
    }
    /* 툴바 사용 불가 버튼 hover 시 스타일 주지 않기 */
    .fc .fc-toolbar-chunk .fc-button:disabled:hover {
    background-color: transparent;
    }
    
    /* 툴바 버튼 포커스 시 그림자 제거 */
    .fc .fc-toolbar-chunk .fc-button:focus {
    box-shadow: none;
    }
    
    /* 툴바 버튼 hover 시 배경색 변경 */
    .fc .fc-toolbar-chunk .fc-button:hover {
    background-color: #87cdcf;
    }
    
    /* 날짜변경 화살표 아이콘 */
    .fc .fc-button-primary span {
    font-weight: 500;
    font-size: 28px;
    }
    
    /* 요일의 높이 */
    .fc-theme-standard th {
    height: 60px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    font-size: 16px;
    line-height: 19px;
    color: #7b7b7b;
    vertical-align: middle;
    }
    
    /* Tody Cell에 배경색 주기 */
    .fc .fc-daygrid-day.fc-day-today {
    background-color: #e6895724;
    }
    
    /* 날짜 Cell 프레임 */
    .fc .fc-daygrid-day-frame {
    padding: 20px;
    }
    
    /* 월간,주간 view의 Cell이 시작하는 위치 */
    .fc .fc-daygrid-day-top {
    flex-direction: row;
    height: 30px;
    margin-bottom: 3px;
    }
    
    /* 날짜 숫자 z-index 초기화 */
    .fc .fc-daygrid-day-number {
    z-index: auto !important;
    }
    
    /* 이벤트 막대 스타일 */
    .fc-event {
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    }
    
    /* modal창 외부화면 */
    .calendar modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    /* modal창 */
    .calendar modalBody {
    position: absolute;
    width: 300px;
    height: 500px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    }
    
    #modalCloseBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    font-size: 20px;
    }
    
    #modalCloseBtn:hover {
    cursor: pointer;
    }