

/* Row Layout */
.TrainerMypage-row {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 30px; /* 요소 사이 여백 추가 */
}

.Header {
  background-color: rgba(170, 170, 170, 0.527);
  border-Bottom: 2px solid #ccc;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  color: black;
  opacity: 0.8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
};

.TrainerMypage-left {
  flex: 1;
  min-width: 350px; /* 최소 너비 증가 */
  margin-right: 30px;
}

/* Right Section (Additional Info) */
.TrainerMypage-right {
  flex: 2;
  padding-left: 30px;
  border-left: 2px solid #7c7c7c;
  padding-right: 30px;
}

/* Profile Picture Styling */
.Trainerdrop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px; /* 크기 확대 */
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}



/* Name Styling */
.TrainerProfile-name {
  font-size: 1.6em; /* 폰트 크기 확대 */
  font-weight: bold;
  margin: 15px 0;
}




/* Additional Info Section */
.TrainerMypage-info p {
  margin: 10px 0;
  color: #333;
}

.TrainerMypage-info a {
  color: #007bff;
  text-decoration: none;
}

.TrainerMypage-info a:hover {
  text-decoration: underline;
}


/* Responsive Design */
@media (max-width: 768px) {
  .TrainerMypage-row {
    flex-direction: column;
  }

  .TrainerMypage-left {
    border-right: none;
    padding-right: 0;
    margin-bottom: 30px; /* 여백 추가 */
    
  }
}
