/*
.chatroom {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
*/

.Header {
  background-color: rgba(170, 170, 170, 0.527);
  border-Bottom: 2px solid #ccc;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  color: black;
  opacity: 0.8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
};
  
  .chatroom li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    border-style: groove;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  /* hover */
  .chatroom li:hover {
    background-color: #f1f1f1;
    transform: translateY(-8px);
    cursor: pointer;
  }
  
  /* 이미지 */
  .chatroom img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  /* content */
  .chatroom p {
    margin: 0;
    color: #333;
    font-size: 14px;
  }
  

  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .button-container {
    display: flex;
    flex-direction: column; /* 기본적으로 세로로 나열 */
    gap: 10px; /* 버튼 간의 간격 */
    align-items: flex-end; /* 오른쪽 끝에 정렬 */
  }
  
  @media (max-width: 768px) { /* 화면 너비가 768px 이하일 경우 */
    .button-container {
      flex-direction: row; /* 가로로 나열 */
      justify-content: flex-end; /* 오른쪽 정렬 */
    }
  }

  .row-container {
    display: flex;
    flex-wrap: wrap; /* 요소가 넘칠 경우 다음 줄로 감싸도록 설정 */
  }
  
  @media (max-width: 768px) { /* 화면 너비가 768px 이하일 경우 */
    .row-container {
      flex-direction: column; /* 세로로 나열 */
    }
  
    .button-container {
      align-items: flex-start; /* 버튼을 왼쪽 정렬 */
    }
  }
