/* Navbar 기본 스타일 */
.navbar {
    background-color: #1f1e1e; /* 배경색 */
    padding: 22px 100px; /* 내외부 간격 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  }


  .logo{
    margin-right: 200px;
  }

  
 
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px; /* 메뉴 항목 간격 */
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline;
  }
  
  .navbar a {
    color: #fff; /* 텍스트 색상 */
    text-decoration: none; /* 밑줄 제거 */
    font-size: 18px; /* 글꼴 크기 */
    font-weight: 500;
    padding: 10px 15px;
    transition: color 0.3s ease;
  }
  
  /* 메뉴 hover 효과 */
  .navbar a:hover {
    color: #bbb8b8; /* hover 시 텍스트 색상 변경 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);;
  }
  

  
  