src/layout/Sidebar.css

  .sidebar{
    /* padding: 40px;
    width: 180px;
    height: 150vh;
    box-shadow:3px 0 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    position: sticy;
    display: flex; */
    height: 150vh;
    width: 250px; /* Sidebar의 고정된 너비 */
    background-color: #f4f4f4; /* Sidebar 배경색 */
    padding: 20px; /* 내부 여백 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 오른쪽에 그림자 추가 */
  }

.nav {
  display: flex;
  flex-direction: column;
  padding-bottom: 500px;
}

.nav .col {
  margin-bottom: 50px; /* 각 링크 사이에 간격 추가 */
}

.nav .col a {
  display: block; /* 사각형 형태를 위한 block 설정 */
  padding: 30px 45px; /* 여백 설정 */
  border: 2px solid #ccc; /* 테두리 추가 */
  border-radius: 10px; /* 모서리 둥글게 설정 */
  background-color: #ffffff; /* 배경색 */
  text-align: center; /* 텍스트 가운데 정렬 */
  text-decoration: none; /* 링크 밑줄 제거 */
  color: #333; /* 텍스트 색 */
  transition: background-color 0.3s ease; /* 호버 시 애니메이션 */
  box-shadow:3px 0 5px rgba(0, 0, 0, 0.1);
}

.nav .col a:hover {
  background-color: #ccc; /* 호버 시 배경색 변경 */
}

  
  

