.sidebarArea {
  flex-shrink: 0;
  width: $sidebarWidth;
  background-color: #f8f9fa;
  .sidenav-bg:hover {
    background-color: rgb(197, 197, 197);
    border-radius: $border-radius;
  }
  .sidenav-bg .active {
    background-color: rgb(197, 197, 197);
    border-radius: $border-radius;
    color: black;
    font-weight: bold;
  }
}

@include media-breakpoint-down(lg) {
  .sidebarArea {
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    z-index: 10;
    margin-left: -$sidebarWidth;
    transition: 0.2s ease-in;
    &.showSidebar {
      margin-left: 0px;
    }
  }
}
