/* Center container css */
.centerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
}

/* Form 관련 css */
.signupForm {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    background-color: #fff;
}

/* 프로필이미지 */
.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    min-height: 50vh;
    background-color: #fff;
}

.profileImgPreview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #fff;
}

.uploadBtn {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    display: inline-block;
}

/* 버튼 */
.mt3 {
    margin-top: 1rem;
}

.w100 {
    width: 100%;
}

/* 글 정렬 */
.textCenter {
    text-align: center;
}

.mb4 {
    margin-bottom: 1.5rem;
}

.dNone {
    display: none;
}
