/* Center 정렬 */
.centerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
}

/* 폼 관련 css */
.signupForm {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #f8f9fa;
}

/* 버튼 */
.mt3 {
  margin-top: 1rem;
}

.w100 {
  width: 100%;
}

/* 글 정렬 */
.textCenter {
  text-align: center;
}

.mb4 {
  margin-bottom: 1.5rem;
}

.dNone {
  display: none;
}

/* 입력칸 */
.formControl {
  border: 1px solid #333; 
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

/* 메세지 박스 */
.formText {
  background-color: #e9ecef; 
  padding: 10px;
  border-radius: 5px;
  color: #495057; 
  font-size: 0.9rem;
  margin-top: 5px;
  text-align: left;
  border-left: 5px solid #007bff; 
}

