/* src/pages/Navbar.css */

.navbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 16px;
    opacity: 0.7;
}

.navbar li.mypage{
    position: absolute;
    right: 250px;
}

.navbar li.logout{
    position: absolute;
    right:150px;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar a{
    color:white;
    text-decoration: none;
}

.navbar a:hover{
    text-decoration: underline;
}
  