/* src/pages/Sidebar.css */

  .sidebar{
    background-color: #f4f5f7;
    padding: 16px;
    width: 180px;
    height: 150vh;
    align-items: center;
    position: sticy;
    display: flex;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 5;
    color: black;
  }
  

  sidebar a:hover{
    background-color: #ddd;
  }